boto3>=1.40.16
click>=8.0,<8.2
fastapi>=0.116.1
httpx>=0.28.1
numpy>=2.3.2
pandas>=2.3.1
pathlib>=1.0.1
prometheus-client>=0.22.1
psycopg2_binary>=2.9.10
psutil>=7.0.0
pydantic>=2.11.7
pydantic[email]
PyJWT>=2.10.1
pytest>=8.4.1
python-multipart
PyYAML>=6.0.2
redis>=6.2.0
slowapi>=0.1.9
scikit-learn>=1.6.1
Unidecode>=1.4.0
uvicorn>=0.35.0
yappi>=1.6.10