{
    "ENV": "LOCAL",
    "APP_NAME": "DPE-API",
    "APP_VERSION": "0.0.1",
    "APP_DESCRIPTION": "API backend for DPE Energy Performance Analysis",
    "LOGGER_APP_NAME": "ETL-Logger",

    "API_HOST": "host",
    "API_PORT": "8000",
    "API_SECRET_KEY": "your-secret-key",

    "POSTGRES_HOST": "host",
    "POSTGRES_PORT": "5432",
    "POSTGRES_DB_NAME": "dpedb",
    "POSTGRES_ADMIN_USERNAME": "postgres",
    "POSTGRES_ADMIN_PASSWORD": "password",
    "POSTGRES_READER_USERNAME": "reader",
    "POSTGRES_READER_PASSWORD": "reader_password",
    "POSTGRES_WRITER_USERNAME": "writer",
    "POSTGRES_WRITER_PASSWORD": "writer_password",

    "S3_ACCESS_KEY": "xxxxxx",
    "S3_SECRET_KEY": "xxxxxx",
    "S3_BUCKET_NAME": "dpe-storage-v1",
    "S3_REGION": "eu-west",
    "S3_ENDPOINT_URL": "host:9000",

    "PATH_LOG_DIR" : "etl/logs/",
    "PATH_ARCHIVE_DIR" : "etl/data/archive/",
    "PATH_DATA_BRONZE" : "etl/data/1_bronze/",
    "PATH_DATA_SILVER" : "etl/data/2_silver/",
    "PATH_DATA_GOLD" : "etl/data/3_gold/",
    "PATH_FILE_INPUT_ENEDIS_CSV": "etl/data/1_bronze/conso_enedis.csv",

    "SCHEMA_ETL_INPUT_FILEPATH": "etl/ressources/schemas/schema_input_data.json",
    "SCHEMA_SILVER_DATA_FILEPATH": "etl/ressources/schemas/schema_silver_data.json",
    "SCHEMA_GOLDEN_DATA_FILEPATH": "etl/ressources/schemas/schema_golden_data.json",

    "ELASTICSEARCH_HOST": "host",
    "ELASTICSEARCH_PORT": "9200",
    "ELASTICSEARCH_INDEX": "dpe_logging_idx" 
}