{
    "ENV": "LOCAL",
    "API_HOST": "xxxxxx",
    "API_PORT": "8000",

    "REDIS_HOST": "xxxxxxx",
    "REDIS_PORT": "6379",

    "SMTP_SERVER": "smtp.domain.com",
    "SMTP_PORT": "465",
    "SMTP_USERNAME": "xxxxxxx@domain.com",
    "SMTP_PASSWORD": "xxxxxxx",
    "ADMIN_EMAIL": "admin@domain.com",

    "POSTGRES_HOST": "localhost",
    "POSTGRES_PORT": "5432",
    "POSTGRES_DB_NAME": "dpedb_v2",
    "POSTGRES_ADMIN_USERNAME": "postgres",
    "POSTGRES_ADMIN_PASSWORD": "xxxxxxxx",
    "POSTGRES_READER_USERNAME": "reader",
    "POSTGRES_READER_PASSWORD": "xxxxxxxx",
    "POSTGRES_WRITER_USERNAME": "writer",
    "POSTGRES_WRITER_PASSWORD": "xxxxxxxx",

    "S3_ACCESS_KEY": "xxxxxxx",
    "S3_SECRET_KEY": "xxxxxxx",
    "S3_BUCKET_NAME": "dpe-storage-v1",
    "S3_REGION": "eu-west",
    "S3_ENDPOINT_URL": "host:port",

    "PATH_LOG_DIR" : "etl/logs/",
    "PATH_ARCHIVE_DIR" : "etl/data/archive/",
    "PATH_DATA_BRONZE" : "etl/data/1_bronze/",
    "PATH_DATA_SILVER" : "etl/data/2_silver/",
    "PATH_DATA_GOLD" : "etl/data/3_gold/",
    "PATH_FILE_INPUT_ENEDIS_CSV": "etl/data/1_bronze/conso_enedis.csv",
    "SCHEMA_ETL_INPUT_FILEPATH": "config/schema_input_data.json",
    "SCHEMA_SILVER_DATA_FILEPATH": "etl/ressources/schemas/schema_silver_data.json",
    "SCHEMA_GOLDEN_DATA_FILEPATH": "config/schema_golden_data.json"
}