name: ghaction-cd-volt-ai-api
run-name: CD${{ github.run_number }}-${{ github.event.repository.name }}-${{ github.workflow }}_${{ github.ref_name }}
on:
  # faut que 'final' soit dans le merge commit pour faire une nouvelle version mineure
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  call-github-new-tagging-workflow:
    uses: fereol023/pipelines_templates/.github/workflows/github-git-create-new-tag.yml@main
    secrets: # appelle et envoie le github pat de ce repos
      github_personal_access_token: ${{ secrets.GITHUB_TOKEN }}
  
  fetch-new-tag:
    needs: call-github-new-tagging-workflow
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.set_tag.outputs.new_tag }}
    steps:
      - name: Fetch and store new_tag_created
        id: set_tag
        run: |
          echo "New tag created: ${{ needs.call-github-new-tagging-workflow.outputs.new_tag_created }}"
          echo "new_tag=${{ needs.call-github-new-tagging-workflow.outputs.new_tag_created }}" >> $GITHUB_OUTPUT

  # call-docker-build-and-push-workflow:
  #   needs: fetch-new-tag
  #   uses: fereol023/pipelines_templates/.github/workflows/github-docker-build-and-push.yml@main
  #   with:
  #     GIT_TAG: ${{ needs.fetch-new-tag.outputs.new_tag }}
  #     hasSubmodules: false
  #   secrets:
  #     CR_USER: ${{ secrets.CR_USER }}
  #     CR_PWD: ${{ secrets.CR_PWD }}
  
  trigger-image-build-from-etl-repository:
    needs: fetch-new-tag
    runs-on: ubuntu-latest
    steps:
      - name: trigger workflow in etl repository to build and push docker image
        env:
          GH_TOKEN: ${{ secrets.GHA_ETL_PAT }}
        run: |
          gh workflow run github-volt-api-img-build-and-deploy.yml \
            --repo fereol023/DPE-Energy-Performance-Analysis-ETL \
            --ref main \
            -f api_tag="${{ needs.fetch-new-tag.outputs.new-tag }}" 
        # passed the tag here with the varname expected in inputs of the called workflow